<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fukayatsu.suddenly</string>
	<key>connections</key>
	<dict>
		<key>1BBFD7C8-E832-4C94-827F-F246DDD8313B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>320C8368-3AAE-4B3E-87B6-2DCD29E54C42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C5995ED-9AB0-4406-B416-5CB9FF1C06C3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Enter: copy to clipboard and paste: &gt; {query} &lt;</string>
			</dict>
		</array>
		<key>320C8368-3AAE-4B3E-87B6-2DCD29E54C42</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4DFA2535-3D54-4D51-AA24-52F5DC2EFD94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7C5995ED-9AB0-4406-B416-5CB9FF1C06C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>369F03D5-7345-4362-BB47-579DA2299031</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>97E19CDA-3C35-4904-AE62-1FFE5492ED37</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>320C8368-3AAE-4B3E-87B6-2DCD29E54C42</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7C5995ED-9AB0-4406-B416-5CB9FF1C06C3</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Enter: copy to clipboard and paste: &gt; {query} &lt;</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fukayatsu</string>
	<key>description</key>
	<string>突然の死 to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>suddenly</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ruby suddenly.rb "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>320C8368-3AAE-4B3E-87B6-2DCD29E54C42</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4DFA2535-3D54-4D51-AA24-52F5DC2EFD94</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>と</string>
				<key>subtext</key>
				<string>Enter: copy to clipboard (and paste with cmd): &gt; {query} &lt;</string>
				<key>text</key>
				<string>突然の死</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1BBFD7C8-E832-4C94-827F-F246DDD8313B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>suddenly</string>
				<key>subtext</key>
				<string>Enter: copy to clipboard (and paste with cmd): &gt; {query} &lt;</string>
				<key>text</key>
				<string>suddenly</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>97E19CDA-3C35-4904-AE62-1FFE5492ED37</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>ruby suddenly.rb "{query}"
</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7C5995ED-9AB0-4406-B416-5CB9FF1C06C3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>369F03D5-7345-4362-BB47-579DA2299031</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1BBFD7C8-E832-4C94-827F-F246DDD8313B</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>320C8368-3AAE-4B3E-87B6-2DCD29E54C42</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>369F03D5-7345-4362-BB47-579DA2299031</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>4DFA2535-3D54-4D51-AA24-52F5DC2EFD94</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>7C5995ED-9AB0-4406-B416-5CB9FF1C06C3</key>
		<dict>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>97E19CDA-3C35-4904-AE62-1FFE5492ED37</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/fukayatsu</string>
</dict>
</plist>
